<main class="calendar">
  <div class="calendar__month">
    <span class="calendar__arrow--left" (click)="clickLeft()"></span>
    <h3 style="display: inline-block">{{ monthsOfYear[currentMonth] }}</h3>
    <span class="calendar__arrow--right" (click)="clickRight()"></span>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngFor="let day of daysOfWeek; index as i">{{ day }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let week of weeksOfMonth; index as i">
        <td
          [ngClass]="determineClass(week.sunday)"
          (click)="handleState(week.sunday)"
          style="text-align: center"
          class="day sunday-cell"
        >
          <p class="dayDate">{{ week.sunday?.getDate() }}</p>
        </td>
        <td
          [ngClass]="determineClass(week.monday)"
          (click)="handleState(week.monday)"
          style="text-align: center"
          class="day monday-cell"
        >
          <p class="dayDate">{{ week.monday?.getDate() }}</p>
        </td>
        <td
          [ngClass]="determineClass(week.tuesday)"
          (click)="handleState(week.tuesday)"
          style="text-align: center"
          class="day tuesday-cell"
        >
          <p class="dayDate">{{ week.tuesday?.getDate() }}</p>
        </td>
        <td
          [ngClass]="determineClass(week.wednesday)"
          (click)="handleState(week.wednesday)"
          style="text-align: center"
          class="day wednesday-cell"
        >
          <p class="dayDate">{{ week.wednesday?.getDate() }}</p>
        </td>
        <td
          [ngClass]="determineClass(week.thursday)"
          (click)="handleState(week.thursday)"
          style="text-align: center"
          class="day thursday-cell"
        >
          <p class="dayDate">{{ week.thursday?.getDate() }}</p>
        </td>
        <td
          [ngClass]="determineClass(week.friday)"
          (click)="handleState(week.friday)"
          style="text-align: center"
          class="day friday-cell"
        >
          <p class="dayDate">{{ week.friday?.getDate() }}</p>
        </td>
        <td
          [ngClass]="determineClass(week.saturday)"
          (click)="handleState(week.saturday)"
          style="text-align: center"
          class="day saturday-cell"
        >
          <p class="dayDate">{{ week.saturday?.getDate() }}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</main>
